.dashcontainer {
    background:#081e23;
    padding: 20px;
    top: 80px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%; 
    position: relative;
    font-family: Tahoma, Verdana, sans-serif;
}

.dash{
    text-align: center;
}
.mb-4{
    color: #F4CB83!important;
}
.dashcontainer h2, .dashcontainer p {
    color: #F4CB83;  
}

.table {
    margin-top: 30px;
    background-color: #F4CB83 !important;
    color:  #F4CB83 !important;
}

.table th {
    background-color:#F4CB83 !important
}

.table td, .table th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
    background-color:#F4CB83;
}

.table td a {
    color: #EEC550;
    text-decoration: none;
}

.table td a:hover {
    text-decoration: underline;
}